
.icon-user:before { content: '\f007'; } /* '' */
.icon-anchor:before { content: '\e819'; } /* '' */
.icon-heart-filled:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-filled:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-flag:before { content: '\e81b'; } /* '' */
.icon-flag-filled:before { content: '\e808'; } /* '' */
.icon-thumbs-up:before { content: '\e809'; } /* '' */
.icon-thumbs-down:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-pen:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-address:before { content: '\e80f'; } /* '' */
.icon-location-outline:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-stopwatch:before { content: '\e814'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-contrast:before { content: '\e81c'; } /* '' */
.icon-key:before { content: '\e81a'; } /* '' */
.icon-wine:before { content: '\e816'; } /* '' */
.icon-coffee:before { content: '\e817'; } /* '' */
.icon-beer:before { content: '\e818'; } /* '' */
.icon-chat-alt:before { content: '\e80d'; } /* '' */