// @import url('@{themeurl}/less/icon-font.css');
//@import url('@{themeurl}/less/ss-gizmo.css');

@import url('@{stylesheet_directory_uri}/less/ss-gizmo.css');

//@import url('ss-gizmo.css');
@import url('test.less');

@base: #000; /* Base color(used for the default text color) */
    @firm: green; /* Used for highlighting. Same meaning as primary in Bootstrap */
    @gray: #666; /* Just a shade of gray */
    @lightgray: #999; /* Another shade of gray */
    @inverse: white; /* For highlighting when background color is @base for example */
    @success: darkgreen; /* For success messaging/notifications */
    @danger: red; /* For negative messaging/notificatin */
    @warning: yellow; /* For warnings */
    @info: lightblue; /* For notifications */
    @link-color: blue; /* Default link color */
    @link-hover-color: navy; /* Link color on hover */



@main: #f8c2ba;
@white: #fff;
// @black: #000;
//@orange: #ff441f;
// @orange-lighter:;
// @orange-darker:;

//@yellow:#ffd933;
// @yellow-lighter:;
// @yellow-darker:;

// @blue:;
// @blue-lighter:;
// @blue-darker:;

// @green:;
// @green-lighter:;
// @green-darker:;

// @violet:;
@violet-lighter: #c83891;
// @violet-darker:;


// END VARIABLE

h1, h2, h3, h4, h5, h6 {
	color: @orange;
}
.test{
color: @black;

}

.highlight-yellow{
    // padding: 3px 5px;
    // margin: -3px -5px;
    // line-height: 1em;
    // border-radius: 2px;
    // display:inline-block;
    white-space: pre-wrap;
	// background-color: #fffbda;
	background-color: #fffd56;
}

.highlight-orange{
	display: inline;
  background: orange;
  box-shadow: 10px 0 0 orange, -10px 0 0 orange;
	// background-color: #fff4da;
}



// div.block.orange{
// 	background: @orange;
// 		h1, h2, h3, h4, h5, h6 {
// 			color: @white;
// 		}
// 		div.entry-content p{
// 			color: @white;
// 		}
// 		div.entry-summary.entry-content > p > a.more-link{
// 			color: @white;
// 			background: @black;
// 		}
// 		div.entry-meta{
// 			color: @white;
// 		}
// }

//
// div.block.yellow{
// 	background: @yellow;
// 		h1, h2, h3, h4, h5, h6 {
// 			color: @white;
// 		}
// 		div.entry-content p{
// 			color: @white;
// 		}
// 		div.entry-summary.entry-content > p > a.more-link{
// 			color: @white;
// 			background: @black;
// 		}
// 		div.entry-meta{
// 			color: @white;
// 		}
// }

// FOR BLOCKs

#bundle {
.block(){
		h1, h2, h3, h4, h5, h6 {
			color: @white;
		}
		div.entry-content p{
			color: @white;
		}
		div.entry-summary.entry-content > p > a.more-link{
			color: @white;
			background: @black;
		}
		div.entry-meta{
			color: @white;
		}
}
}

div.block.orange{
 	background: @orange;
  	#bundle > .block;
}

div.block.yellow{
 	background: @yellow;
  	#bundle > .block;
}

// #bundle {
//   .button() {
//     display: block;
//     border: 1px solid black;
//     background-color: grey;
//     &:hover { background-color: white }
//   }
// }

// #header a {
//   color: orange;
//   #bundle > .button;
// }

// .violet-lighter {
// //	color: @violet-lighter;
// 	background: @violet-lighter !important;
// 	h1, h2, h3, h4, h5, h6 {
// 		//color: @myColor;
// 	}
// }

